<header class="main-header">
  <div class="container">
    <div class="header-content">
      <div class="app-logo">
        <a class="app-link flex-row-center" routerLink="/friellenges">
          <div class="logo">
            <img src="assets/img/app-logo.png" alt="Friellenge"/>
          </div>
          <h1 class="app-title">Friellenge</h1>
        </a>
      </div>

      <!--<div class="search-input">-->
      <!--<div class="text-input">-->
      <!--<mat-icon>search</mat-icon>-->
      <!--<input type="text"/>-->
      <!--</div>-->
      <!--</div>-->

      <div class="group-links">
        <a routerLink="/" class="btn-link btn-app-store">
          <img src="assets/img/app-store.png" alt="App Store">
        </a>
        <a routerLink="/" class="btn-link btn-google-play">
          <img src="assets/img/google-play.png" alt="Google Play">
        </a>
      </div>
    </div>
  </div>
</header>
