<div class="content welcome-page">
  <div class="box-wrapper">
    <div class="content-inner">
      <div class="info-wrapper text-color">
        <div class="logo">
          <img src="assets/img/app-logo.png" alt="Friellenge"/>
        </div>
        <h3>Welcome to Friellenge</h3>
      </div>
      <div class="button-group">
        <button class="btn btn-fb" mat-raised-button (click)="loginWithFacebook()">
          <span class="icon"></span>
          LOGIN WITH FACEBOOK
        </button>
      </div>
    </div>
</div>
</div>
