<div class="page-content admin-detail-page">
  <div class="header-page">
    <h1 class="title">{{challenge?.description | truncate: 3}}</h1>
  </div>

  <div class="content-inner detail-page">
    <ng-container *ngIf="challenge">

      <div class="preview-wrapper">
        <!--Media Preview-->
        <app-media-preview [data]="challenge.preview"></app-media-preview>

        <ng-container *ngIf="!challenge.preview?.video">
          <!--DateTime-->
          <ng-container *ngIf="challenge.startTimer(); else dateTime">
            <p class="datetime">
              <mat-icon>access_alarm</mat-icon>
            </p>
          </ng-container>
          <ng-template #dateTime>
            <p class="datetime">{{challenge.last_activity | dateTime}}</p>
          </ng-template>
        </ng-container>
      </div>


      <div class="content-inner">
        <!-- Start .user-panel -->
        <div class="flex-row-center user-panel">
          <h3 class="user-name">{{challenge.author.fullName}}</h3>
          <div class="user-avatar">
            <img [src]="challenge.author.photo">
          </div>
        </div>
        <!-- End .user-panel -->

        <div class="description">
          <p>{{challenge.description}}</p>
        </div>

        <!--Section social actions-->
        <app-social-activity [data]="challenge.activities()"></app-social-activity>

        <!--Section participants-->
        <div class="participants">
          <ng-container *ngIf="challenge?.participant_count > 0; else message;">
            <div class="scroll-content">
              <div class="scroll-inner scroll-x">
                <div class="scroll-item" *ngFor="let user of challenge.participants; let i=index">
                  <div class="user-preview" text-center>
                    <ng-container *ngIf="i < 3">
                      <div class="likes">
                        <mat-icon>favorite</mat-icon>
                        <span>{{user.like_num_for_challenge}}</span>
                      </div>
                    </ng-container>
                    <div class="user-avatar">
                      <img [src]="user.photo">
                    </div>
                    <p class="user-name">{{user.first_name}}</p>
                  </div>
                </div>
              </div>
            </div>

          </ng-container>
          <ng-template #message>
            <p text-center>There are no participants yet.</p>
          </ng-template>
        </div>

        <!--CountDown Timer-->
        <ng-container *ngIf="challenge && challenge.startTimer()">
          <app-countdown-time [timer]="challenge.begin_date" [timerType]="'begin'"></app-countdown-time>
        </ng-container>

        <ng-container *ngIf="challenge && challenge.endTimer()">
          <app-countdown-time [timer]="challenge.end_date"></app-countdown-time>
        </ng-container>

        <!--Winner-->
        <ng-container *ngIf="challenge && challenge.winner">
          <div class="bg-block winner" no-lines no-padding text-center>
            <h4 class="subtitle">Победитель</h4>
            <div class="profile-wrapper">
              <div class="user-avatar">
                <img [src]="challenge.winner.photo">
              </div>
              <h2>{{challenge.winner.first_name}} {{challenge.winner.last_name}}</h2>
            </div>
          </div>

        </ng-container>

        <!--Section reports list-->
        <ng-container *ngIf="challenge.reports.length > 0;">
          <div class="wrapper-cards">
            <app-card *ngFor="let card of challenge.reports" [card]="card"></app-card>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>

</div>
