// Open Sans
// --------------------------------------------------
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/opensans/400/opensans-regular-webfont.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: semi-bold;
  font-weight: 600;
  src: url('../assets/fonts/opensans/600/opensans-semibold-webfont.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 700;
  src: url('../assets/fonts/opensans/700/opensans-bold-webfont.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: extra-bold;
  font-weight: 900;
  src: url('../assets/fonts/opensans/900/opensans-extrabold-webfont.ttf');
}
