//core overrides
$img-path: "/assets/img/";

// Open Sans
// --------------------------------------------------
$font-family-base: "Open Sans", sans-serif !default;

// Admin Theme
$sidebar-width:                     220px;
$sidebar-bg:                        #2A3F54;

$toolbar-height:                    40px;

// Style APP
// --------------------------------------------------
$text-color:                        #030504;
$sub-title-color:                   #3c4f5e;
$bg-body:                           #fafafa;
$icon-grey:                         #b3b3b3;
$grey-color:                        #818181;
$blue-color:                        #488aff;
$white-color:                       #fff;
$border-color:                      #eee;

$bg-wrapper-gradient:              linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.8));

//  App LineUp Mobile Theme Colors
// --------------------------------------------------
$main-color: #fc1e2e;
$header-table-color: #3f51b5;

